body {
    --color1: rgba(19, 41, 61, 1);
    --color2: rgba(0, 100, 148, 1);
    --color3: rgba(36, 123, 160, 1);
    --color4: rgba(27, 152, 224, 1);
    --color5: rgba(232, 241, 242, 1);
    
    --header-height: 120px;
    --shadow: 0px 10px 20px -12px rgba(19, 41, 61, .5);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Architects Daughter', cursive;
    background-color: var(--color2);
}

table {
    border-collapse: collapse;
    text-align: center;
}

th {
    font-size: large;
    padding: 8px;
    border-bottom: 2px solid var(--color1);
}

tr {
    padding: 2px;
    

}

canvas {
    width: 75%;
    height: 250px;
}

button {
    font-family: 'Architects Daughter', cursive;
    background-color: var(--color5);
}